.breadcrumb-item+.breadcrumb-item:before {
    content: "";
    margin-top: 0.25rem;
}

.form-check-input[type=checkbox]{
    margin-bottom:1rem;
    margin-top: 0rem;
}

.bigger:hover {
    transform: scale(1.2);
}

.error {
    border: red 0.1rem solid;

}

#error-text{
    display:none;
    color:red;
    font-weight: bolder;
}

/*.question-container{*/
/*    border: #4a5568 0.1rem solid;*/
/*}*/
