.breadcrumb-item+.breadcrumb-item:before {
    content: "";
    margin-top: 0.25rem;
}

.form-check-input[type=checkbox]{
    margin-bottom:1rem;
    margin-top: 0rem;
}

.bigger:hover {
    transform: scale(1.2);
}

.error {
    border: red 0.1rem solid;

}

#error-text{
    display:none;
    color:red;
    font-weight: bolder;
}

.select2 {
    width:90%  !important;
}

.question-list {
    display: flex;
    flex-direction: column;
}

.question-container {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    cursor: move;
    transition: transform 0.3s ease;
}
